# https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# User-specific files
*.suo
*.user

# Build results
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Visual Studio 2015/2017 cache/options directory
.vs/

# Db project
*.dbmdl
*.mdl
*.jfm
sql/

# NuGet Packages
**/[Pp]ackages/*